#top-text {
    width: 60vw;
    margin-top: 5px;
    margin-left: 35%;
}

#top-text2 {
    margin: 10rem;
    margin-top: 10px;
    margin-left: 35%;
}

#top-image {
    margin: 5%;
    margin-left: 50vw;
}

#bot-text {
    margin-bottom: 20pt;
    margin-left: 45rem;
}

#bot-text2 {
    margin-left: 37.7%;
}